{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
    <h1>Acerca de mí</h1>
    <!-- Featured blog post-->
    <div class="card mb-4">
        <div class="card-body">
            <div class="small text-muted">Marzo 6 , 2025</div>
            <h2 class="card-title">Presentacion!</h2>
            <p class="card-text">Hola, Soy Martina y cree este Blog porque me encanta la moda y pense en hacer un blog de noticias sobre lo nuevo
                de la temporada.
                    Tengo 19 años y vivo en Cordoba, Argentina.
                    Estoy Estudiando la carrera de analista en sistemas de computacion.</p>
    
            
{% endblock %}
